{% extends "base.html" %}

{% block context %}
<div class="hero" style="margin-top: 20px;">
  <h1 style="color: white;">Bem-vindo(a) à biblioteca de Gibis do Henrique</h1>
  <p style="color: white;">Leia as histórias em quadrinhos dos seus heróis favoritos.</p>
</div>
<hr>
<div class="container mt-4">
    <div class="row">
        <!-- Coluna para Quadrinhos -->
        <div class="col-md-6">
            <div class="card mb-4" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); color: white;">
                <img src="https://media.gettyimages.com/id/1165096074/pt/vetorial/boom-effect-vector.jpg?s=612x612&w=0&k=20&c=8RLJ5D9D4vg6s1B65nGdk82MFSv7-0u1Ao6XyOo8kX4=" 
                     alt="Capa do Gibi 1" 
                     style="border-top-left-radius: 10px; border-top-right-radius: 10px; width: 100%;">
                <div class="p-3">
                    <h3 class="text-danger">Quadrinhos</h3>
                    <p>Leia quadrinhos de forma simples e descomplicada.</p>
                    <a href="{{ url_for('Gibi') }}" class="btn btn-danger">Ler</a>
                </div>
            </div>
        </div>

        <!-- Coluna para Vídeos -->
        <div class="col-md-6">
            <div class="card mb-4" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); color: white;">
                <img src="https://media.gettyimages.com/id/1292223017/pt/vetorial/wow-comic-book.jpg?s=612x612&w=0&k=20&c=J9TLhpGIR6GSVul4zS94eih1lXmxPQM8CBQ80WT2sHU=" 
                     alt="Capa do Gibi 2" 
                     style="border-top-left-radius: 10px; border-top-right-radius: 10px; width: 100%;">
                <div class="p-3">
                    <h3 class="text-danger">Vídeos</h3>
                    <p>Assista a vídeos de curiosidades dos seus heróis favoritos.</p>
                    <a href="{{ url_for('Video') }}" class="btn btn-danger">Assistir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}